
<div class="center modal-content">
  <img class="modal-image" src="{{ baseUrl('uploads/')}}{{ memememe }}">
  <p>Lien de l'image</p>
  <a href="{{ baseUrl('media/')}}{{ memememe }}" target="_blank">{{ baseUrl('media/')}}{{ memememe }}</a>
    <div class="center">
      <p>Partager</p>
      <a class="mt-facebook mt-share-inline-square-bw-sm" href="https://www.facebook.com/sharer/sharer.php?u={{ baseUrl('media/')}}{{ memememe }}.jpg" target="_blank">
        <img src="{{ baseUrl('assets/icons/facebook.png') }}">
      </a>
      <a class="mt-twitter mt-share-inline-square-bw-sm" href="http://twitter.com/intent/tweet?text=&amp;url={{ baseUrl('media/')}}{{ memememe }}.jpg" target="_blank">
        <img src="{{ baseUrl('assets/icons/twitter.png') }}">
      </a>
      <a class="mt-google mt-share-inline-square-bw-sm" href="https://plus.google.com/share?url={{ baseUrl('media/')}}{{ memememe }}.jpg">
        <img src="{{ baseUrl('assets/icons/google.png') }}">
      </a>
      <a class="mt-pinterest mt-share-inline-square-bw-sm" href="http://www.pinterest.com/pin/create/button/?url={{ baseUrl('media/')}}{{ memememe }}.jpg&amp;media=&amp;guid=1234&amp;description=" target="_blank">
        <img src="{{ baseUrl('assets/icons/pinterest.png') }}">
      </a>
    </div>
</div>