
{% extends "layouts/base.html" %}

{% block css %}
    {{ baseUrl('assets/css/listing.css') }}
{% endblock %}

{% block content %}
    <div id="main">
        <div class="my_memes">
            <h3>Derniers mèmes créés</h3>

            {% for  meme in data %}
                <a target="_blank" href="{{ baseUrl('media/') }}{{ meme.path }}">
                    <img class="memes"  src="{{ baseUrl('uploads/') }}{{ meme.path }}" alt="list memes" > 
                </a>
            {% endfor %}
        </div>
        <div >
            <h5>C'est quoi un méme:</h3>
            <p>Un mème, c'est une idée, un "délire", une phrase culte qui se propage de personne à personne en ètant et/ou détourné.</p>
            <p>Mais pour être compris, le mème a besoin de son contexte et de la culture qui l'accompagne.</p>
            <p>Sur notre site vous allez pouvoir créer vos propres mémes grace à notre générateur et notre bases des photos drôle qu'on vous propose.</p>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ baseUrl('assets/js/listing.js') }}
{% endblock %}